# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Understand the importance of data preprocessing.
- Introduce common machine learning algorithms.
- Discuss evaluation metrics for model performance.
- Explore data visualization techniques.

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. numPy
2. pandas
3. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335

## Author
Razan Alkhamisi